In [8]:
import pandas as pd

links_df = pd.read_csv('links.csv')
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
tags_df = pd.read_csv('tags.csv')

In [9]:
links_df.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [10]:
tags_df.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [11]:
movies_df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [12]:
ratings_df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [13]:
ratings_mc_df=ratings_df.groupby("movieId")["rating"].agg(["mean","count"]).reset_index()
ratings_mc_df

      movieId      mean  count
0           1  3.920930    215
1           2  3.431818    110
2           3  3.259615     52
3           4  2.357143      7
4           5  3.071429     49
...       ...       ...    ...
9719   193581  4.000000      1
9720   193583  3.500000      1
9721   193585  3.500000      1
9722   193587  3.500000      1
9723   193609  4.000000      1

[9724 rows x 3 columns]

In [14]:
ratings_mc_df.sort_values(by=['count', 'mean'], ascending=False).head()

      movieId      mean  count
314       356  4.164134    329
277       318  4.429022    317
257       296  4.197068    307
510       593  4.161290    279
1938     2571  4.192446    278

In [15]:
ratings_mc_df["overall_rating"] = (ratings_mc_df["mean"]*2) + (ratings_mc_df["count"]*0.01)
ratings_mc_df

      movieId      mean  count  overall_rating
0           1  3.920930    215        9.991860
1           2  3.431818    110        7.963636
2           3  3.259615     52        7.039231
3           4  2.357143      7        4.784286
4           5  3.071429     49        6.632857
...       ...       ...    ...             ...
9719   193581  4.000000      1        8.010000
9720   193583  3.500000      1        7.010000
9721   193585  3.500000      1        7.010000
9722   193587  3.500000      1        7.010000
9723   193609  4.000000      1        8.010000

[9724 rows x 4 columns]

In [16]:
ratings_mc_df.sort_values(by=['overall_rating'], ascending=False).head()

      movieId      mean  count  overall_rating
277       318  4.429022    317       12.028044
314       356  4.164134    329       11.618267
257       296  4.197068    307       11.464137
1938     2571  4.192446    278       11.164892
510       593  4.161290    279       11.112581

In [17]:
ratings_mc_df_merged=ratings_mc_df.merge(
    movies_df,
    on="movieId",
    how="inner"
)

In [18]:
ratings_mc_merged_df = ratings_mc_df_merged[["movieId","title","genres", "mean", "count", "overall_rating"]]

In [19]:
def get_top_n(ratings_mc_merged_df, n):
  top_n_movies_df=pd.DataFrame(ratings_mc_merged_df).nlargest(n,"overall_rating")
  return top_n_movies_df

In [21]:
get_top_n(ratings_mc_merged_df, 3)

,movieId,title,genres,mean,count,overall_rating
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317,12.028044
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,329,11.618267
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307,11.464137